.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.kotak {
    border: 1px solid black;
    width: 150px;
    height: 700px;
}

.item-1 {
    background-color: palevioletred;
}

.item-2 {
    background-color: pink;
}

.item-3 {
    background-color: peachpuff;
}

.item-4 {
    background-color: plum;
}